---
import Film from '../components/Film.astro';
export const prerender = false
import Layout from '../layouts/Layout.astro';

const API_KEY = import.meta.env.TMB_API_KEY2;
const {url} = Astro.request;
const query = Astro.url.searchParams.get("query");

let results: {title: string; overview: string; poster_path: string; release_date: string| null} [] = [];

if(query?.trim() !== ""){
    const options ={
        method : 'GET',
        headers: {
            accept: 'application/json',
            Authorization: `Bearer ${API_KEY}`
        }
    }
    
    const res = await fetch (`https://api.themoviedb.org/3/search/movie?include_adult=false&language=es-ES&page=1&query=${encodeURIComponent(query ?? "")}`, options);
    const data = await res.json();
    results = data.results || [];

    
}


---
<!--En esta página se muestran los resultados tras realizar una búsqueda.  -->
<Layout>
    <h1>Resultados para "{query}"</h1>
    {results.length > 0 ? (
        <ul>
            {results.map((result: { title: string; overview: string; poster_path: string; release_date:string | null; }) => (
                //Esta sería la información que se imprimirá de cada una de las películas
                <li class="resultFilm">
                    <Film film={result}/>
                    <div class="resultFilm_info">
                        <h2>{result.title}</h2>
                        <p>({result.release_date})</p>
                        <p>{result.overview}</p>   
                    </div>
                        
                </li>
            ))}
        </ul>
        ) : (
            //en caso de que no haya ningún resultado para la búsqueda, se mostrará este mensaje
            <p>No se encontraron resultados para "{query}"</p>
        )
    }
</Layout>
