---
import Film from '../components/Film.astro';
export const prerender = false
import Layout from '../layouts/Layout.astro';
const API_KEY = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkZTZkNGFlNWEyOTUxNDZjYzZlMmQwNWM2MzhkN2I3YyIsIm5iZiI6MTc0MjIwNDcwMy4zMzQsInN1YiI6IjY3ZDdlZjFmZDgwMjMwOTcwM2YxODJhNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.j_5W4yQdwSXPgEmaqQntuDVt9-ysfR7b_OTvameod_A";
const {url} = Astro.request;
const query = Astro.url.searchParams.get("query");

let results: {title: string; overview: string; poster_path: string; release_date: string| null} [] = [];

if(query?.trim() !== ""){
    const options ={
        method : 'GET',
        headers: {
            accept: 'application/json',
            Authorization: `Bearer ${API_KEY}`
        }
    }
    
    const res = await fetch (`https://api.themoviedb.org/3/search/movie?include_adult=false&language=es-ES&page=1&query=${encodeURIComponent(query ?? "")}`, options);
    const data = await res.json();
    results = data.results || [];

    
}


---
<Layout>
    <h1>Resultados para "{query}"</h1>
    {results.length > 0 ? (
        <ul>
            {results.map((result: { title: string; overview: string; poster_path: string; release_date:string | null; }) => (
                <li class="resultFilm">
                    <Film film={result}/>
                    <div class="resultFilm_info">
                        <h2>{result.title}</h2>
                        <p>({result.release_date})</p>
                        <p>{result.overview}</p>   
                    </div>
                        
                </li>
            ))}
        </ul>
        ) : (
            <p>No se encontraron resultados para "{query}"</p>
        )
    }
</Layout>
