---
const BACKEND_HOST = import.meta.env.PUBLIC_BACKEND_HOST;
const {filmId} = Astro.props;
---
<div class="btnContainer">
    <button class="btnSave" data-film-id={filmId}>💾 Guardar película</button>
    <p id="errorMessage" class="error"></p>
    <p id="successfulMessage" class="success"></p>
</div>

<script is:inline type="module" define:vars={{ BACKEND_HOST }}>
//DOMContentLoaded sirve para que se cargue el Javascript antes de que esté el HTML
document.addEventListener("DOMContentLoaded", () =>{
    const errorMessage = document.getElementById("errorMessage");
    const successfulMessage = document.getElementById("successfulMessage");
    const token = localStorage.getItem("token");
    const buttons = document.querySelectorAll(".btnSave");
    //Se realiza un forEach para recorrer todos los botones
    buttons.forEach(button =>{
        button.addEventListener("click", async()=>{
            const filmId = button.dataset.filmId;
            if(!token){
                    window.location.href = "/logInPage";
                    return;
                }
            try{
                //Conexión con la base de datos porque se desea añadir una pelicula en la BBDD
                const res = await fetch(`${BACKEND_HOST}/watchlist?id_pelicula=${filmId}`, {
                    method: "POST",
                    headers: { 
                       'Authorization': `Bearer ${token}` 
                    },
                    credentials: 'include',
                });
                const result = await res.json();
                //En caso de que la respuesta sea correcta, aparece un mensaje para informar de que la película se ha guardado correctamente
                if(res.ok){
                    successfulMessage.textContent= "Guardado";
                }else{
                    errorMessage.textContent = "Película ya registrada";
                }

            }catch(error){
                errorMessage.textContent = result.message || "Error de conexión con el servidor o red";
            }
        });
    });
});

</script>