---
    const {newsIndividual, class: className} = Astro.props;
---

<div>
        <article class={`articleContainer ${className}`}>
            <h2><a href={newsIndividual.link} target="_blank">{newsIndividual.title}</a></h2>
            <p class="date">{newsIndividual.date}</p>
            <img src={newsIndividual.image} alt="">
            <p class="descripction">{newsIndividual.descripction}</p>
            <p class="source">Fuente: {newsIndividual.source}</p>
            <a class="sourceLink" href={newsIndividual.link} target="_blank"> 🔗 Enlace a a la noticia completa</a>
        </article>
</div>