---
    import { getNews } from "../lib/api/news";
    const news = await getNews();

---

<div>
    <h1 class="headings headingSections">Noticias:</h1>
    <div class="newsContainer">
        {news.map((newsItem)=>(
            <article class="articleContainer">
                <h2><a href={newsItem.link} target="_blank">{newsItem.title}</a></h2>
                <p>{newsItem.date}</p>
                <img src={newsItem.imgage} alt="">
                <p>{newsItem.descripction}</p>
                <p>Fuente: {newsItem.source}</p>
                <a class="sourceLink" href={newsItem.link} target="_blank"> 🔗 Enlace a a la noticia completa</a>
            </article>
        ))}
    </div>
</div>